{
	"code": "C:/512/p1/code/ws",
	
	"ant.rm.flight.host": "localhost",
	"ant.rm.car.host": "localhost",
	"ant.rm.room.host": "localhost",
	"ant.rm.customer.host": "localhost",
	"ant.mw.host": "localhost",
	
	"client_hosts": [ "localhost" ],
	"client_defs": [
		{
			"txnrate": "1",
			"txnfile": "C:/512/p1/code/ws/autoruns/t1.txt",
			"ntxn": "-1",
			"mode": "seq",
		},
	],
	
	"ant.logdir": "C:/swarm/logs",
	"logs_destination": "C:/swarm/logs_recovered",
	
	"user": "LKY",
	"pass": "sgrox",
}